// Place all the styles related to the bites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap';

$bluecolor: #0B486B;

h1 {
  text-align: center;
  color: white; }

h2 {
  color: $bluecolor;
  text-align: center;
  }

h3 {
  color: $bluecolor;
  text-align: center;
  }

a {
	color: orange;
  font-weight: bold;
  &:link {text-decoration: none; color: orange;}
}

.border {
	height: 250px;
	padding: 15px;
	overflow: scroll;
  background-color: rgba(255,255,255,.5)
}

.container-fluid {
  background-color: transparent;
}

 html {
  background: url("http://scm-l3.technorati.com/10/04/07/11491/zen-principles-of-social-networking.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {background-color: transparent}

.carousel-container {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255,255,255,.4);
}

.tall { height: 400px; }

.show-link { margin: 25px 10px; }

.btn {
  float: left;
  margin-right: 5px;}

.carousel-control.left {
  bottom: 0;
  margin-left: -100px;
}
.glyphicon-chevron-left:before {
  margin-left: 100px;
}

.navbar {
background-color: rgba(255,255,255,.4);
border: 1px solid transparent;
}

