<h1>Nosh on some bite-sized zen!</h1>
<br>
<div class="carousel-container">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">

  <!-- Wrapper for slides -->
<div class="carousel-inner">

    <div class="item active">
        <div class="content">
            <h1>Stressed? Get ready to nosh on some bite-sized zen!</h1>
            <h2>Scroll left or right to try a bite. Keep scrolling until you're full!</h2>
        </div>
    </div>

    <% @bites.each do |b| %>

    <div class="item">
        <%= link_to(bite_path(b)) do %>
        <div class="content">
            <h1><%= b.bite %></h1>
            <h2><%= b.chef %></h2>
        </div>
        <% end %>
    </div>

    <% end %>

</div>

  <br>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br>
<br>
